body {
    max-width: 900px;
    margin:auto;
}

#main {
    display:flex;
}

.block {
    padding:0 10px 5px 10px;
    border: 3px solid rgb(49, 53, 53);
    margin:20px;
    text-align: left;
}
h2{
    margin-bottom:10px;
    margin-left: 10px;
    font-size:1.1em;
}

label{
        font-family: 'Red Hat Display', sans-serif;
        margin:10px;

}
input, select{
    margin:5px;
}
#controls{
    display:flex;
    flex-direction: column;
    width: 300px;
    height:auto;
    justify-content: center;
    text-align: center;
}
#play, #submit {
    margin:5px;
}
li {
    list-style-type: none;
}

.preset{
    margin:10px;
    width: auto;
    min-width:150px;
}

#preset-ul {
    margin-top:10px;
    padding:0 0 0 0;
}
#instruments {
    margin-top: 15px;
}