body {
    background-image: url("/assets/yellow-parchment_53876-91513.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 900px;
    height: 100vh;
}

main {
    position: relative;
}

figure {
    margin: 0;
}

li {
    font-family: 'Blinker', sans-serif;
}

.intervals-list {
    height: 9em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.intervals-list li {
    margin-left: 20px;
}

#staff-place-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

#staff-place-holder img {
    width: 100vw;
    max-width: 900px;
}

#staff-place-holder p {
    position: absolute;
    bottom: 4px;
    left: 47%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: black;
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

#staff-place-holder figure {
    cursor: pointer;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

#staff-place-holder figure:hover {
    transform: scale(1.01);
}

#staff-place-holder figure.fadeout {
    opacity: 0;
    cursor: default;
}

#instructions {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}

#instructions.displayed {
    opacity: 1;
    z-index: 1;
}

#instructions h2 {
    font-size: calc(.9em + 2vw);
    margin-bottom: 10px;
}

#instructions p {
    font-size: calc(0.5em + .8vw);
}

#landing-page-form #user-name {
    height: 34px;
    width: 200px;
    margin-top: 2vh;
    text-align: center;
    font-size: 1.2em;
    border: 2px inset gray;
}

#landing-page-form button {
    height: 40px;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 1.2rem;
}
