

.choices div {
    display: inline-block;
    border: 3px solid #4C4B63;
    background-color:#ABA8B2;
    text-align: center;
    margin: 10px;
    height:50px;
    width:100px;
    transition: transform 150ms, background-color 150ms, box-shadow 150ms, black 150ms;

}

.choices div:hover {
    transform: translate(-2px, -2px);
    background-color: #EFEFEF;
    box-shadow:2px 2px 5px 1px #ABA8B2;
    color: black;
}

.choices div.selected {
    background-color: rgb(232, 140, 140);
    box-shadow:2px 2px 5px 1px #ABA8B2;
    color: black;
}

.answer-container {
    display: flex;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
