@import url('https://fonts.googleapis.com/css?family=Blinker|Red+Hat+Display&display=swap');

body {
    margin: 0 0 0 0;
}

header {
    background-color: #6893E2;
    width: 100%;
    height: auto;
    position:fixed;

}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2em;
    margin:0 0 0 0;
}
h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
        margin:0 0 0 0;


}

footer {
    background-color: #6893E2;
    width: 100%;
    height: 5vh;
    margin-top: 20px;
    padding-right:20px;
}

button {
    border: 3px solid #ddd;
    background-color: #111;
    color: #eee;
    font-size: 1.2rem;
    margin: 3vh;
    height: 40px;
    width: 200px;
}

input {
    height: 40px;
    width: 200px;
    font-size: 1.2em;
}

footer p {
    text-align: right;
    font-family: 'Blinker', sans-serif;


}

.hidden {
    display: none;
}

.container {
    display: flex;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}
