@import url('https://fonts.googleapis.com/css?family=Blinker|Red+Hat+Display&display=swap');

body {
    margin: 0 0 0 0;
}

header {
    background-color: #6893E2;
    width: 100%;
    height: auto;
}

.top-bar {
    display: flex;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2em;
    margin:0 0 0 0;
}
h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
    margin:0 0 0 0;
}

button {
    border: 3px solid #4C4B63;
    background-color:#ABA8B2;
    color: #4C4B63;
    font-size: 1.2rem;
    margin: 3vh;
    height: 40px;
    font-weight: 800;
    transition: transform 150ms, background-color 150ms, box-shadow 150ms, black 150ms;
}

button:hover {
    transform: translate(-2px, -2px);
    background-color: #EFEFEF;
    box-shadow:2px 2px 5px 1px #ABA8B2;
    color: black;
}

footer {
    background-color: #6893E2;
    width: 100%;
    height: 5vh;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

footer p {
    display: inline-block;
    padding-right: 20px;
    font-family: 'Blinker', sans-serif;
    color:#4C4B63;
}

.hidden {
    display: none;
}
